{% extends "main/base.html" %}

{% block title %}To-Do Lists{% endblock %}

{% block mycss %}
<style>
    a{
        text-decoration: none;
    }
    a:hover
    {
        color: rgb(39, 12, 65);
    }
</style>
{%endblock%}

{% block content %}
    <!-- <h3>To-Do Lists</h3>
    <ol>
        {% for l in ls %}
            <li><a href="/{{l.id}}" style="text-decoration: none;">{{l.name}}</a></li>
        {% endfor %}
    </ol> -->
    {% for td in user.todolist.all %}
        <p><a href="/{{td.id}}">{{td.name}}</a></p>
    {% endfor %}
    
{% endblock %}